<header class="site-header">
    <div class="wrapper_head">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="hide">
            <blockquote>
                <ul>
                    <li><a href="http:www//lundst.github.io/student/course/2015/11/16/1DV022-Examination-1-questions.html">1DV022-Examination-1-questions-blogg</a></li>
                    <li><a href=" http://lundst.github.io/index.html">Index</a></li>
                    <li><a href="http://lundst.github.io/student/course/2015/11/17/1DV022-Examination-1-requirements.html">1DV022-Examination-1-requirement-blogg</a></li>
                    <li><a href=" http://lundst.github.io/humans.txt">humans.txt</a></li>
                    <li><a href="http://lundst.github.io/robot.txt">robot.txt</a></li>
                    <li><a href="http://lundst.github.io/graph.html">OPG-graph</a></li>
                </ul>
            </blockquote>
        </nav>
    </div>
</header>