a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 10px;
  background:lightcyan;
  border: 2px solid;
  border-radius: 25px;
}
